/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}



/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 10px;
}
@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(73, 73, 73, 0.05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}


.jumbotron {
  background-image: url(https://awkwardasshole.files.wordpress.com/2020/09/cropped-aa-heart-jpg-1.jpg);
  height: 50vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  margin-bottom: 0;

}


::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.example-1 {
  position: relative;
  overflow-y: scroll;
  height: 300px; 
}
.card-body img {
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
  height: 225px;
  margin-top: 1em;
  margin-bottom: 2em;
}

.card-body .row p {
  margin-top: 1em;
  font-size: 8px;
}



.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 40px;
  line-height: 40px; /* Vertically center the text there */
}
